.card {
  align-items: center;
  border-radius: 10px;
  height: 650px;
  width: 310px;
  border: 2px solid #ffffff;
  margin: auto;
  margin-top: 6%;
}

header {
  width: 310px;
  height: 260px;
  border-radius: 10px 10px 0px 0px;
}

header > img {
  border-radius: 10px 10px 0px 0px;
  width: 310px;
  height: 265px;
}

main {
  color: #ffffff;
  background-color: #1A1B21;
  border: 0.5px solid #1A1B21;
}


.job {
  margin-top: -10px;
  margin-left: 90px;
}

.name {
  margin-left: 50px;
}

.website {
  margin-top: -10px;
  margin-left: 110px;
}

.buttons {
  display: flex;
  margin: auto;
}

.buttons > button {
  display: flex;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 0px;
}

.buttons > button > p {
  font-size: 12px;
  margin: auto;
  margin-left: 2px;
}

.buttons > button > img {
  margin: auto;
  margin-right: 0px;
}

.mail-btn {
  margin-left: 30px;
  background-color: #D1D5DB;
}

.linkedin-btn {
  margin-left: 10px;
  margin-right: 20px;
  background-color: #5093E2;
  color: #ffffff;
}

.main-txt{
  /* border: 1px solid white; */
  padding: 0px 20px;
}

.main-txt > h3 {
  font-size: 15px;
}
.main-txt > p {
  font-size: 10px;
  margin-top: -10px;
}

footer {
  padding: 0px 60px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}

footer > img {
  padding: 10px;
}